<% if admin_signed_in? || user_signed_in?%>

<br>
<span> <h2 class="text-uppercase" > Solicitudes de cancelación:</h2> </span>

<div>
  <table class="table">
      <tr>
        <td style="font-size: 15pt"> Numero: </td>
        <td style="font-size: 15pt"> Complejo: </td>
        <td style="font-size: 15pt"> Fecha: </td>
        <td style="font-size: 15pt"> Usuario: </td>

      </tr>

      <% @cancellation.each do |cancel| %>
        <tr>
          <td style="font-size: 8pt"><%= cancel.id %></td>
          <td style="font-size: 8pt"><%= cancel.complejo %></td>
          <td style="font-size: 8pt"><%= cancel.fecha %></td>
          <td style="font-size: 8pt"><%= cancel.usuario %></td>
          <td><%= link_to 'Ver detalles', cancellation_path(cancel), class: 'btn btn-dark btn-lg'%></td>
          <td><%= link_to 'Eliminar', cancel, method: :delete, class: 'btn btn-danger btn-lg', data: { confirm: '¿Está seguro que desea borrar el registro de la solicitud de cancelación? El cliente no será notificado.' }  %></td>
        </tr>
      <% end%>

  </table>
</div>

<% else %>
  <%= render 'layouts/error' %>
<% end %>