	
<nav class="navbar navbar-dark bg-dark">
	<%= form_tag '/home_users', :method => :get do %>
		<%= label_tag :search, 'Búsqueda', style:'color :white'%>
		<%= text_field_tag :search, nil, 
			placeholder: "Busca tu lugar" %>
		<%= submit_tag 'Buscar' %>
	<% end %>
</nav>


	<span><%= @busq ? "Buscando: " + @busq : "" %></span>
	
	<table class="table">		
		<tr>
			<th>Complejo</th>
			<th>Descripción</th>	
		</tr>	 
		<% @residences.each do |r| %>
			<tr>
				<td> <%= r.complejo %> </td>
				<td> <%= r.descripcion %> </td>
			</tr>
		<% end %>

	</table>


