<style>
    { margin: 0; padding: 0; }

    html { 
        background: url('https://ak9.picdn.net/shutterstock/videos/22089199/thumb/1.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
</style>

<% if code_in? %>

<div class="float-left">
     <div class="card card-custom mx-5 mt-5" style="width:50rem;" >
        <div class="card-body">
              <p class="card-text">
                <font size=5 face="arial"> 
                    ¡BIENVENIDO A HOME SWITCH HOME!
                </font> 
                <h2>Registrate como administrador</h2>


<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true ,
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>

<%= render "admins/shared/links" %></p>
        </div>
    </div>
</div>

<% end %>