<nav class="navbar navbar-dark bg-dark">
	<%= form_tag '/auctions', :method => :get do %>
		<%= label_tag :com, 'Complejo', style:'color :white'%>
		<%= text_field_tag :com,params[:com],
			placeholder: "¿Qué buscas?" %>
		<%= label_tag :loc, 'Localidad', style:'color :white'%>
		<%= text_field_tag :loc, params[:loc],
			placeholder: "¿Qué buscas?" %>
		<%= label_tag :des, 'Descripción', style:'color :white'%>
		<%= text_field_tag :des, params[:des],
			placeholder: "¿Qué buscas?" %>
		<%= submit_tag 'Buscar' %>
	<% end %>
</nav>



<h2 class="text-uppercase" > Subastas vigentes: </h2>

<table class="table">

		<tr>
			<td style="font-size: 15pt">Complejo:</td>
			<td style="font-size: 15pt">Ubicación:</td>
			<td style="font-size: 15pt">Precio actual: </td>
		</tr>

		<% @resiAuction.each do |resAuc| %>
		<tr>
			<td style="font-size: 8pt"><%= resAuc.complejo %></td>
			<td style="font-size: 8pt"><%= resAuc.ubicacion %></td>
			<td style="font-size: 8pt">$<%= resAuc.auction.precioBase %></td>
			
			<td>
				<%= link_to 'Ver Detalles', auction_path(resAuc.auction), class: 'btn btn-dark btn-lg'%>
			</td>


		</tr>
		<% end%>

</table>

<div class="mt-5">
	<div class="mx-2 mb-3">
		<%= link_to 'Volver', residences_path, class: 'btn btn-primary btn-lg' %> </div>
</div>
