<div class="jumbotron">
  <div class="row">
    <div class="col-sm">
      <img src= <%=@auction.residence.imagen %> , class="rounded" />
    </div>
    <div class="col-sm">
      <table class="table">
        <tr>
          <td> <h2><%= @auction.residence.complejo %> <h2></td>
        </tr>
         <tr>
          <td> <h4>Estado:<h4></td>
          <td> <h5 style="color: green"><%= @auction.estado %><h5></td>
        </tr>
        <tr>
        <tr>
          <td> <h4>Ubicación:<h4></td>
          <td> <h5><%= @auction.residence.ubicacion  %><h5></td>
        </tr>
        <tr>
          <td> <h4>Precio:(ARS)<h4></td>
          <td><h5>$<%= @auction.precioBase %><h5></td>
        </tr>
        <tr>
          <td> <h4>Descripcion:<h4></td>
          <td> <h5><%= @auction.residence.descripcion  %><h5></td>
        </tr>
        <tr>
          <td> <h4>Capacidad<h4></td>
          <td> <h5><%= @auction.residence.capacidad  %><h5> </td>
        </tr>
        <tr>
          <td> <h4>Estrellas:<h4></td>
          <td> <h5><%= @auction.residence.estrellas  %><h5></td>
        </tr>
        <tr>
          <td> <h4>Semana:<h4></td>
          <td> <h5><%= @auction.fecha  %><h5> </td>
        </tr>
         <tr>
            <td> <h4>Ganador actual:<h4></td>
            <td> <h5><%= @auction.email %><h5> </td>
        </tr>

        <tr>
          <td><%= link_to 'Finalizar Subasta', edit_auction_path(@auction), class: 'btn btn-danger btn-lg', data: { confirm: '¿Está seguro que desea finalizar la subasta? Podrá continuar viendo sus datos en "Ver detalles"' }  %></td>
          <td><%= link_to 'Eliminar Subasta', auction_path(@auction), method: :delete, class: 'btn btn-danger btn-lg', data: { confirm: '¿Está seguro que desea eliminar la subasta? Se perderán todos los datos asociados a ella' }  %></td>
        </tr>

        <tr>
          <td><%= link_to 'Volver', auctions_path, class: 'btn btn-dark btn-me' %></td>
        </tr>

      </table>
    </div>

    
    <div class="col-sm">

      
      <table class="table">
        <tr>
          <td> <h2>Registro de Pujas<h2> </td>
        </tr>
        <tr>
          <td> <h4>Cliente:<h4> </td>
          <td> <h4>Puja:<h4> </td>
          <td> <h4>Creditos:<h4> </td>
        </tr>
          <% m = @auction.pujas.all %>
          <% m.each do |nombregenerico| %>
            <tr>
              <td> <%= nombregenerico.email %> </td>
              <td> <%= nombregenerico.monto %> </td>
              <% usuario=User.find_by(email: nombregenerico.email)%>
              <td> <%= usuario.credito %> </td>
            </tr>
        <% end %>

    </div>

  </div>
</div>
