<style>
    { margin: 0; padding: 0; }

    html { 
        background: url('https://ak9.picdn.net/shutterstock/videos/22089199/thumb/1.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
</style>

<%#> Residencia aleatoria, usando card<%>
<div class="float-left">
  <%if @residence != nil%>

    <div class="card card-custom mx-5 mt-3" style="width: 80rem;">
      <img class="card-img-top" src= <%=@residence.imagen%> alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title"> <%= @residence.complejo %> </h3>
          <p class="card-text">
            <h5> <%= @residence.ubicacion %> </h5><br>
            Capacidad: <%= @residence.capacidad %> <br>
          </p>
        </div>
    </div>

  <%else%>
    <div class="jumbotron mx-5 mt-3">
      <h1 class="display-4">Lo sentimos!</h1>
      <hr class="my-4">
      <p>Nuestra p치gina est치 en mantenimiento, actualmente no hay residencias disponibles!</p>
    </div>
  <%end%>

</div>


<div class="float-right">
  <% if !admin_signed_in? %>
      <%#> Inicio de sesion, tambien uso una card para que quede mejor ubicada, sino queda en cualquier lado<%>
      <div class="card card-custom mx-5 mt-3" style="width:40rem;" >
            <div class="card-body">
              <h4 class="card-title"> Ingresar</h4>
            
            <p class="card-text"> 
              <%= render 'users/sessions/form' %>
            </p>
            
            </div>
        </div>
  <% end %>

  <% if !user_signed_in? %>
      <% if !admin_signed_in? %>
        <br><br><br>
        <div class="card card-custom mx-5 mb-3" style="width:40rem;" >           
            <div class="card-body">
              <h4 class="card-title"> Administraci칩n  </h4>
              <p class="card-text">   
                <td><%= link_to 'Soy administrador', new_admin_session_path, class: 'btn btn-dark btn-lg'%></td>
              </p>
            </div>
        </div>

      <%else%>

          <div class="card card-custom mx-5 mb-3" style="width:40rem;" >
              <div class="card-body">
                <h3 class="card-title"> Cerrar sesi칩n de administrador </h3>
                 <p class="card-text"> 
                <%= link_to "Cerrar Sesion", destroy_admin_session_path,class: 'btn btn-dark btn-mm', :method => :delete %>
              </p>
            </div>
          </div>

      <% end %>
  <% end %>      
</div>
