<p>Hemos elminiado su reserva en la siguiente fecha y lugar:</p>

<h1><%= @week.residence.complejo %></h1>

<h4>Destino: <%= @week.residence.ubicacion %></h4>

<h4>Estrellas: <%= @week.residence.estrellas %></h4>

<h5>Cant. Personas: <%= @week.residence.capacidad %></h5>

<h4><%= @week.fecha %></h4>

<p><%= @week.residence.descripcion %></p>


<a href="http://h-s-h.herokuapp.com"> Buscar nuevas ofertas </a>