




<% provide(:title, "Log in") %>
<center><h1>Log in</h1></center>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.submit "Log in", class: "btn btn-primary" %>

    <% end %>

      <%= link_to 'Crearffdsfdasfaso', new_user_session_path, class: 'btn btn-dark ' %>
    <td><text>¿Aun no se ha registrado?</text></td>
    <div> <td><%= link_to 'Crear Usuario', new_user_path, class: 'btn btn-dark ' %></td> </div>
          
  </div>
</div>