
<div class="ml-5" style="font-size: 9pt">
  <%= simple_form_for @residence do |f| %>

    <%= f.input :complejo %>
    <%= f.input :descripcion %>
    <%= f.input :ubicacion %>
    <%= f.input :precio, wrapper_html: { class: 'hide' } %>
    <%= f.input :capacidad %>
    <%= f.input :estrellas %>
    <%= f.input :semana %>
    <%= f.input :temporada %>
    <%= f.input :imagen %>

    <td><%= link_to 'Cancelar', residences_path, class: 'btn btn-dark btn-lg' %></td>
    <button type= f.submit class="btn btn-primary btn-lg"> Guardar </button>
  <% end %>

</div>