<span> <h2 class="text-uppercase" > Residencias guardadas:</h2> </span>

<div>
	<table class="table">
			<tr>
				<td style="font-size: 15pt"> Complejo: </td>
				<td style="font-size: 15pt"> Ubicación: </td>
			</tr>

			<% @residence.each do |resi| %>
				<tr>
					<td style="font-size: 8pt"><%= resi.complejo %></td>
					<td style="font-size: 8pt"><%= resi.ubicacion %></td>
					<td><%= link_to 'Ver detalles', residence_path(resi), class: 'btn btn-dark btn-mm'%></td>
					<td><%= link_to 'Editar', edit_residence_path(resi), class: 'btn btn-dark btn-mm'%></td>
					<td><%= link_to 'Eliminar', resi, method: :delete, class: 'btn btn-danger btn-mm', data: { confirm: '¿Está seguro que desea eliminar la residencia?' }  %></td>

				</tr>
			<% end%>

	</table>
</div>

<div class="row mt-5 justify-content-center">
	<div class="mx-2 mb-3">
		<%= link_to 'Nueva residencia', new_residence_path, class: 'btn btn-primary btn-lg' %> </div>
	<div class="mx-2 mb-3"><%= link_to 'Ver Subastas', auctions_path, class: 'btn btn-primary btn-lg' %> </div>
</div>

