<nav class="navbar navbar-expand-lg navbar-light bg-light mb-0 mt-0">
	<span class="navbar-brand mt-0 mb-0 h1">
  <a class="navbar-brand" href="/residences"> <%= image_tag "HSH-Logo.svg",title: "Logo", class: "logo", style: 'height:100%;width:100%;'%> </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/residences/new">Crear Residencia <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/auctions">Ver subastas</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/home_users">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#">Usuarios</a>
      </li>
    </ul>
  </div>
  </span>
</nav>


<nav class="navbar navbar-inverse navbar-fixed-top mt-0">
	<%= form_tag '/residences', :method => :get do %>
		<%= label_tag :com, 'Complejo', style:'color :white'%>
		<%= text_field_tag :com,params[:com],
			placeholder: "¿Qué buscas?" %>
		<%= label_tag :loc, 'Localidad', style:'color :white'%>
		<%= text_field_tag :loc, params[:loc],
			placeholder: "¿Qué buscas?" %>
		<%= label_tag :des, 'Descripción', style:'color :white'%>
		<%= text_field_tag :des, params[:des],
			placeholder: "¿Qué buscas?" %>
		<%= submit_tag 'Buscar' %>
	<% end %>
</nav>





<span> <h2 class="text-uppercase" > Residencias guardadas:</h2> </span>

<div>
	<table class="table">
			<tr>
				<td style="font-size: 15pt"> Complejo: </td>
				<td style="font-size: 15pt"> Ubicación: </td>
			</tr>

			<% @residences.each do |resi| %>
				<tr>
					<td style="font-size: 8pt"><%= resi.complejo %></td>
					<td style="font-size: 8pt"><%= resi.ubicacion %></td>
					<td><%= link_to 'Ver detalles', residence_path(resi), class: 'btn btn-dark btn-mm'%></td>
					<td><%= link_to 'Editar', edit_residence_path(resi), class: 'btn btn-dark btn-mm'%></td>
					<td><%= link_to 'Eliminar', resi, method: :delete, class: 'btn btn-danger btn-mm', data: { confirm: '¿Está seguro que desea eliminar la residencia?' }  %></td>

				</tr>
			<% end%>

	</table>
</div>



