<% if user_signed_in? %>

	<nav class="navbar navbar-expand-lg navbar-light bg-light mb-0 mt-0">
		<span class="navbar-brand mt-0 mb-0 h1">
	  <a class="navbar-brand"> <%= image_tag "HSH-Logo.svg",title: "Logo", class: "logo", style: 'height:100%;width:100%;'%> </a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">

		    <div class="mx-3">
		    <li class="nav-item active">
		        <a class="nav-link" href="/hotsales">Hot-Sales <span class="sr-only">(current)</span></a>
		    </li>
		    </div>

		    <div class="mx-3">
		    <li class="nav-item">
		        <a class="nav-link active" href="/auctions">Subastas</a>
		    </li>
		    </div>

		    <div class="mx-3">
		    <li class="nav-item">
		        <a class="nav-link active" href="/residences">Residencias</a>
		    </li>
		    </div>

			<div class="ml-5">
			<li class="ml-5">
		      	<%= link_to 'Mi perfil', seekers_path(:id =>current_user.id), class: 'btn btn-info btn-lg' %>
		    </li>
		    </div>

		    <div class="ml-3">
		    <li class="nav-item">
				<%= link_to 'Cerrar Sesion', destroy_user_session_path, :method => :delete, class: 'btn btn-info btn-lg'%>
			</li>
			</div>

	    </ul>
	  </div>
	  </span>
	</nav>

	<div class="row mt-5 justify-content-center">

		<%if @subastaRandom != nil%>
		    <div class="card card-custom mx-5 mb-3" style="width: 80rem;">
		   <div class="p-3 bg-warning text-black"><h2>NO TE PIERDAS ESTA SUBASTA!!<h2></div>
		      <img class="card-img-top" src= <%=@subastaRandom.imagen%> alt="Card image cap">
		        <div class="card-body">
		          <h3 class="card-title"> <%= @subastaRandom.complejo %> </h3>
		          <p class="card-text">
		            <h5> <%= @subastaRandom.ubicacion %> </h5><br>
		            Capacidad: <%= @subastaRandom.capacidad %> <br>
		            Precio: <%= @subastaRandom.auction.precioBase %> <br>
		          </p>
		          <a><%= link_to 'Ver más detalles', home_user_path(@subastaRandom), class: 'btn btn-info btn-lg'%></a>
		        </div>
		    </div>
	  	<%end%>

	  	<%if @hotsaleRandom != nil%>
		    <div class="card card-custom mx-5 mb-3" style="width: 80rem;">
		    <div class="p-3 bg-warning text-black"><h2> RESIDENCIA EN HOT-SALE<h></div>
		      <img class="card-img-top" src= <%=@hotsaleRandom.imagen%> alt="Card image cap">
		        <div class="card-body">
		          <h3 class="card-title"> <%= @hotsaleRandom.complejo %> </h3>
		          <p class="card-text">
		            <h5> <%= @hotsaleRandom.ubicacion %> </h5><br>
		            Capacidad: <%= @hotsaleRandom.capacidad %> <br>
		          </p>
		          <a><%= link_to 'Ver más detalles', hotsale_path(@hotsaleRandom), class: 'btn btn-info btn-lg'%></a>
		        </div>
		    </div>
	  	<%end%>

	</div>







<% else %>
		<center><h2>¡ERROR! Antes debe inciar sesión en nuestro sistema</h2></center>
		<center><h4>Para iniciar sesión o registrarse:</h4></center>

		<center> <%=link_to 'Click aquí', root_path, class: 'btn btn-primary btn-lg' %> </center>

<% end %>
