

<div class="ml-5" style="font-size: 10pt">

	<%= form_for @auction do |f| %>
		<div class="mx-2 mb-3">
		<%= f.hidden_field :id %>
	
		<label for=“precioBase"> Puja (ARS):  </label>
		<%= f.number_field :precioBase %><br><br>
		
		<label for=“email"> Email</label>
		<%= f.email_field :email %> <br><br><br>
		
		<%= link_to 'Cancelar', home_user_path, class: 'btn btn-dark btn-lg' %>
	  	<button type= f.submit class="btn btn-primary btn-lg"> Registrar Puja </button>
		</div>
	<% end %>
</div>