<div class="ml-5" style="font-size: 9pt">

<%= simple_form_for @auction do |f| %>

  <%= f.input :id, wrapper_html: { class: 'hide' } %>
  <%= f.input :precioBase %>
  <%= f.input :email %>
  
  	<%= link_to 'Cancelar', home_user_path, class: 'btn btn-dark btn-lg' %>
  	<button type= f.submit class="btn btn-primary btn-lg"> Registrar Puja </button>
      
<% end %>
</div>

