<h2>Subastas vigentes:</h2>

<table class="table">

		<tr>
			<td style="font-size: 15pt">Complejo:</td>
			<td style="font-size: 15pt">Precio: </td>
		</tr>

		<% @auction.each do |auc| %>
		<tr>
			<td style="font-size: 8pt"><%= Residence.find(auc.residencia_id).complejo %></td>
			<td style="font-size: 8pt">$<%= auc.precioBase %></td>
			
			<td>
				<%= link_to 'Ver Detalles', auction_path(auc), class: 'btn btn-dark btn-me'%>
				<%= link_to 'Eliminar Subasta', auc, method: :delete, class: 'btn btn-danger btn-me', data: { confirm: '¿Está seguro que desea eliminar la subasta?' }  %>	
			</td>


		</tr>
		<% end%>

</table>

<div class="mt-5">
	<div class="mx-2 mb-3">
		<%= link_to 'Volver', residences_path, class: 'btn btn-primary btn-lg' %> </div>
</div>
