
<h1><%= @auction.residence.complejo %></h1>

<h4><%= @auction.residence.ubicacion %></h4>

<h4><%= @auction.fecha %></h4>

<p><%= @auction.residence.descripcion %></p>

<h3>$<%= @auction.precioBase %></h3>

<a href="http://h-s-h.herokuapp.com"> Leer más </a>