<p>Usted a reservado la siguente residencia, Gracias por confiar en nosotros!</p>

<h1><%= @hotsale.residence.complejo %></h1>

<h4>Destino: <%= @hotsale.residence.ubicacion %></h4>

<h4>Estrellas: <%= @hotsale.residence.estrellas %></h4>

<h5>Cant. Personas: <%= @hotsale.residence.capacidad %></h5>

<h4><%= @hotsale.fecha %></h4>

<p><%= @hotsale.residence.descripcion %></p>


<a href="http://h-s-h.herokuapp.com"> Buscar Mas </a>