<% if admin_signed_in? || user_signed_in?%>

  <nav class="navbar navbar-dark bg-dark">
    <%= form_tag '/hotsales', :method => :get do %>
      <%= label_tag :com, 'Complejo', style:'color :white'%>
      <%= text_field_tag :com,params[:com],
        placeholder: "¿Qué buscas?" %>
      <%= label_tag :loc, 'Localidad', style:'color :white'%>
      <%= text_field_tag :loc, params[:loc],
        placeholder: "¿Qué buscas?" %>
      <%= label_tag :des, 'Descripción', style:'color :white'%>
      <%= text_field_tag :des, params[:des],
        placeholder: "¿Qué buscas?" %>
      <%= submit_tag 'Buscar' %>
    <% end %>
  </nav>  

  <% if admin_signed_in? %>

    <span> <h2 class="text-uppercase"> Hot-Sales</h2> </span>

    <div>
      <table class="table">
          <tr>
            <td style="font-size: 15pt"> Complejo: </td>
            <td style="font-size: 15pt"> Ubicación: </td>
          </tr>

          <% @ResiHotsale.each do |resHot| %>
              
              <tr>
                <td style="font-size: 8pt"><%= resHot.complejo %></td>
                <td style="font-size: 8pt"><%= resHot.ubicacion %></td>
                <td><%= link_to 'Ver detalles', hotsale_path(resHot), class: 'btn btn-dark btn-mm'%></td>
              </tr>

          <% end%>

      </table>
    </div>

    <%elsif user_signed_in? %>
      <div class="row mt-5 justify-content-center">


      <% @ResiHotsale.each do |resHot| %>

        <% filtro = Hotsale.where(residence_id: resHot.id, estado: "ACTIVO").count %>
  
        <%if filtro != 0 %>
          <div class="card card-custom mx-2 mb-3" style="width: 50rem;">
            <img class="card-img-top" src= <%=resHot.imagen%> alt="Card image cap">
              <div class="card-body">
                <h3 class="card-title"> <%= resHot.complejo %> </h3>
                <p class="card-text">
                  <h5> <%= resHot.ubicacion %> </h5><br>
                  Capacidad: <%= resHot.capacidad %> <br>
                </p>

               <a><%= link_to 'Ver más detalles', hotsale_path(resHot), class: 'btn btn-info btn-lg'%></a>
              </div>
          </div>
        <% end %>  
      <% end %>
      </div>

    <% else %>
      <center><h2>¡ERROR! Antes debe inciar sesión en nuestro sistema</h2></center>
      <center><h4>Para iniciar sesión o registrarse:</h4></center>

      <center> <%=link_to 'Click aquí', root_path, class: 'btn btn-primary btn-lg' %> </center>

  <%end%>
<%end%>