<% if admin_signed_in? || user_signed_in?%>

  <div class="jumbotron">

    <div class="row">
      <div class="col-sm">
        <img src= <%=@residence.imagen %> , class="rounded" />
      </div>
      <div class="col-sm">
        <table class="table">
          <tr>
            <td> <h2><%= @residence.complejo %> <h2></td>
          </tr>
          <tr>
          <tr>
            <td> <h4>Ubicación:<h4></td>
            <td> <h5><%= @residence.ubicacion  %><h5></td>
          </tr>
          <tr>
            <td> <h4>Descripcion:<h4></td>
            <td> <h5><%= @residence.descripcion  %><h5></td>
          </tr>
          <tr>
            <td> <h4>Capacidad<h4></td>
            <td> <h5><%= @residence.capacidad  %><h5> </td>
          </tr>
          <tr>
            <td> <h4>Estrellas:<h4></td>
            <td> <h5><%= @residence.estrellas  %><h5></td>
          </tr>
           
          <tr>
            <td><%= link_to 'Volver al listado', hotsales_path, class: 'btn btn-dark btn-lg' %></td>
          </tr>
        </table>
      </div>

    </div>


    <br><br>
    <span> <h2 class="text-uppercase"> Semanas disponibles:</h2> </span>
    
    <%if admin_signed_in?%>  
        <% Hotsale.where(residence_id: @residence.id).each do |hotsale|%>
        <br>
        <div class="col-sm">
          <table class="w-50">
            <tr>
              <td> <h4>Semana:<h4></td>
              <td> <h5><%= hotsale.fecha  %><h5> </td>
            </tr>
            <tr>
              <td> <h4>Precio:(ARS)<h4></td>
              <td><h5>$<%= hotsale.monto %><h5></td>
            </tr>
            <tr>
                <td> <h4>Estado:<h4></td>
                <td> <h5 style="color: green"><%= hotsale.estado %><h5></td>
            </tr>
            <tr>
              <td> <h4>Reservado por:<h4></td>
              <td> <h5><%= hotsale.email %><h5> </td>
            </tr>
            <tr>
              <td><%= link_to 'Eliminar Hot-Sale', hotsale_path(hotsale), method: :delete, class: 'btn btn-danger btn-lg', data: { confirm: '¿Está seguro que desea eliminar el Hot-Sale? Se perderán todos los datos asociados' }  %>
              <%= link_to 'Editar', edit_hotsale_path(hotsale), class: 'btn btn-dark btn-lg'%></td>
            </tr>
          </table>
       </div>
       <br><br>
       <%end%>


    <%elsif user_signed_in?%>
        <% Hotsale.where(residence_id: @residence.id, estado: "ACTIVO").each do |hotsale|%>
        <br>
        <div class="col-sm">
          <table class="w-50">
          
            <tr>
              <td> <h4>Semana:<h4></td>
              <td> <h5><%= hotsale.fecha  %><h5> </td>
            </tr>
          
            <tr>
              <td> <h4>Precio:(ARS)<h4></td>
              <td><h5>$<%= hotsale.monto %><h5></td>
            </tr>
          
            <tr>
                <td><%= link_to 'LO QUIERO!', reservation_hotsales_path(:id => hotsale.id), class: 'btn btn-dark btn-lg', data: { confirm: '¿Está seguro que desea comprar esta semana?' }%></td>
            </tr>
          </table>
       </div>
       <br><br>
       <%end%>

    <%end%>

  </div>

<% else %>
  <%= render 'layouts/error' %>
<% end %>





        
          