<div class="row">
  <div class="col-md-5 col-md-offset-1">

        
<h2> Actualizar perfil </h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>


     <%= f.input :nombre, required: true, autofocus: true ,input_html: { autocomplete: "nombre" }%>

    <%= f.input :apellido, required: true, autofocus: true ,input_html: { autocomplete: "apellido" }%>

   <%= f.input :nacimiento, required: true, start_year: Date.today.year - 110, end_year: Date.today.year  ,
             order: [:day, :month, :year],autofocus: true ,input_html: { autocomplete: "nacimiento" }%>

     <%= f.input :numero_tarjeta, required: true, autofocus: true ,input_html: { autocomplete: "numero_tarjeta" }%>


     <%= f.input :banco, required: true, autofocus: true ,input_html: { autocomplete: "banco" }%>

     <%= f.input :vencimiento_tarjeta, start_year: Date.today.year , end_year: Date.today.year + 8 , required: true,    order: [:day, :month, :year], autofocus: true ,input_html: { autocomplete: "vencimiento_tarjeta" }%>

     <%= f.input :foto_perfil, required: true, autofocus: true ,input_html: { autocomplete: "foto_perfil" }%>

    <%= f.input :password, hint: "(Sólo si quieres cambiar tu contraseña)",required: false,
                input_html: { autocomplete: "new-password" } %>

    <%= f.input :password_confirmation, required: false,input_html: { autocomplete: "new-password" } %>
    
    <%= f.input :current_password,hint: "Necesitamos su contraseña actual para confirmar sus cambios",required: true,
                input_html: { autocomplete: "current-password" } %>

      <% if admin_signed_in? %>

         <%= f.input :premium, required: true, autofocus: true ,input_html: { autocomplete: "¿Premium?" }%>

      <%end%>
  </div>

  <div class="form-actions  mx-2 mb-3" >
    <%= f.button :submit, "Guardar Cambios", class: 'btn btn-primary btn-lg' %>
  </div>
<% end %>


<div class="mx-2 mt-3">
    <%= link_to "Volver", :back, class: 'btn btn-dark btn-me'%>

    <%= link_to "Borrar mi cuenta", registration_path(resource_name), data: { confirm: "¿Está seguro que desea borrar su cuenta? Ya no podrá iniciar sesión en nuestro sistema" }, method: :delete, class: 'btn btn-dark btn-me'%>
    
</div>

</div>
</div>