<div class="row">
  <div class="col-md-5 col-md-offset-1">

        <h2 class="text-uppercase">Registrarme </h2>

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">

            <%= f.input :Nombre, required: true, autofocus: true ,input_html: { autocomplete: "Nombre" }%>

            <%= f.input :Apellido, required: true, autofocus: true ,input_html: { autocomplete: "Apellido" }%>

            <%= f.input :DNI, required: true, autofocus: true ,input_html: { autocomplete: "DNI" }%>

            <%= f.input :Nacimiento, required: true, start_year: Date.today.year - 110, end_year: Date.today.year  ,
             order: [:day, :month, :year],autofocus: true ,input_html: { autocomplete: "Nacimiento" }%>

            <%= f.input :Numero_tarjeta, required: true, autofocus: true ,input_html: { autocomplete: "Numero_tarjeta" }%>

            <%= f.input :Vencimiento_tarjeta, start_year: Date.today.year , end_year: Date.today.year + 8 , required: true,    order: [:day, :month, :year], autofocus: true ,input_html: { autocomplete: "Vencimiento_tarjeta" }%>

            <%= f.input :Banco, required: true, autofocus: true ,input_html: { autocomplete: "Banco" }%>

            <%= f.input :Foto_perfil, required: true, autofocus: true ,input_html: { autocomplete: "Foto_perfil" }%>

            <%= f.input :email, required: true, autofocus: true ,input_html: { autocomplete: "email" }%>
            
            <%= f.input :password, required: true, hint: ("Mínimo #{@minimum_password_length} caracteres" if @minimum_password_length), input_html: { autocomplete: "new-password" } %>
            
            <%= f.input :password_confirmation, required: true, input_html: { autocomplete: "new-password" } %>
          
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Sign up" %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>
  </div>

  <div class="col-md-5 col-md-offset-0">

    <table width="500" cellspacing="1" cellpadding="3" border="0" bgcolor="#165480"> 
      <tr> 
        <td> 
        <font size=5 face="verdana, arial, helvetica"> 
        <b>Home Switch Home</b> 
        </font> 
        </td> 
      </tr> 
      
      <tr> 
        <td bgcolor="#ffffff">
        <font face="verdana, arial, helvetica" size=3> 
        <p> Home Switch Home es una plataforma en la que usted podrá participar
        en las subastas de nuestras mejores residencias con precios totalmente accesibles.</p>
        
        <p> Con la contratación del servicio todos los usuarios contarán con 2 CREDITOS por año, de 1 SEMANA CADA UNO. 
          Los mismos le permitirán participar de las subastas vigentes en nuestra plataforma y, de ser el ganador, 
        podrá disfrutar de una semana completa en nuestras lujosas residencias.</p>

        <p> Tambien, tendrá la posibilidad de adquirir la membresía PREMIUM,
        con la que, además de los servicios ya mencionados, contará con la posibilidad
        de adjudicarse residencias por semana EN FORMA DIRECTA!! <br>
          Para esto, las reservas deverán 
        ser realizadas con un rango de anticipación de entre 6 y 8 meses en las semanas disponibles, 
      por eso no pierda tiempo y empiece a disfrutar de nuestros servicios!</p>
       <p>  La membresía premium tendrá una duración de 1 año y tambien contará con 2 CREDITOS por año.</p>
       <br>
        <font face="verdana, arial, helvetica" size=1>
       <p >   La membresía premium no es gratuita, puede ser adquirida abonando un servicio extra.
       Para más información, contáctese con nuestra administración</p>


        </font> 
        </td> 
      </tr> 
    </table>

  </div>
  
</div>
